@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: rgb(var(--foreground-rgb));
  background: #1b1b1b;
}

.custom-scroll {
  scrollbar-color: #3f3f3f transparent;
  scrollbar-width: thin;
}

@layer utilities {
  .hover-opacity {
    @apply duration-300 ease-in-out sm:hover:opacity-50;
  }
}
